[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #008B8B;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #4169E1;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #E67349;
}


