[data-cellid="top_c"][data-page="empresasrecicladores_add"][data-cellid="top_c"][data-page="empresasrecicladores_add"][data-cellid="top_c"][data-page="empresasrecicladores_add"] {
  background-color: #9ee6b2;
}
[data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field"] {
  width: 500px;
}
[data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field1"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field1"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field1"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field1"] {
  width: 500px;
}
[data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field2"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field2"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field2"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field2"] {
  width: 500px;
}
[data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field3"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field3"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field3"][data-page="empresasrecicladores_add"][data-itemid="integrated_edit_field3"] {
  width: 500px;
}


