[data-cellid="grid_headcell_field"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
  font-weight: bold;
  font-size: 18px;
}
[data-cellid="grid_footcell_field"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field"][data-page="empresasrecicladores_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field1"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field1"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
  font-weight: bold;
  font-size: 18px;
}
[data-cellid="grid_footcell_field1"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field1"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field1"][data-page="empresasrecicladores_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field2"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field2"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field2"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
  font-weight: bold;
  font-size: 18px;
}
[data-cellid="grid_footcell_field2"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field2"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field2"][data-page="empresasrecicladores_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field3"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field3"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field3"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
  font-weight: bold;
  font-size: 18px;
}
[data-cellid="grid_footcell_field3"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field3"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field3"][data-page="empresasrecicladores_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field4"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field4"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_field4"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
}
[data-cellid="grid_footcell_field4"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field4"][data-page="empresasrecicladores_list"][data-cellid="grid_footcell_field4"][data-page="empresasrecicladores_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_icons"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_icons"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
  width: 30px;
  font-weight: bold;
  font-size: 18px;
}
[data-cellid="grid_cell_icons"][data-page="empresasrecicladores_list"][data-cellid="grid_cell_icons"][data-page="empresasrecicladores_list"][data-cellid="grid_cell_icons"][data-page="empresasrecicladores_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_checkbox"][data-page="empresasrecicladores_list"][data-cellid="grid_headcell_checkbox"][data-page="empresasrecicladores_list"] {
  background-color: #9ee6b2;
  width: 30px;
  font-weight: bold;
  font-size: 18px;
}
[data-page="empresasrecicladores_list"][data-itemid="menu"] > .nav > * > a {
  font-weight: bold;
  font-size: 18px;
}
[data-page="empresasrecicladores_list"][data-itemid="text"] {
  color: #80f087;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}


