[data-cellid="top_c1"][data-page="gestionpesosresiduos_add"][data-cellid="top_c1"][data-page="gestionpesosresiduos_add"][data-cellid="top_c1"][data-page="gestionpesosresiduos_add"] {
  background-color: #9ee6b2;
}
[data-page="gestionpesosresiduos_add"][data-itemid="add_header"] {
  background-color: #9ee6b2;
}
[data-page="gestionpesosresiduos_add"][data-itemid="integrated_edit_field3"][data-page="gestionpesosresiduos_add"][data-itemid="integrated_edit_field3"][data-page="gestionpesosresiduos_add"][data-itemid="integrated_edit_field3"][data-page="gestionpesosresiduos_add"][data-itemid="integrated_edit_field3"] {
  width: 300px;
}


