[data-cellid="top_c1"][data-page="public_gestion_pesos_residuos_det_ven_edit"][data-cellid="top_c1"][data-page="public_gestion_pesos_residuos_det_ven_edit"][data-cellid="top_c1"][data-page="public_gestion_pesos_residuos_det_ven_edit"] {
  background-color: #9ee6b2;
}
[data-page="public_gestion_pesos_residuos_det_ven_edit"][data-itemid="image"] {
  width: 270px;
  height: 170px;
}


