[data-cellid="top_c1"][data-page="public_recicladores1_add"][data-cellid="top_c1"][data-page="public_recicladores1_add"][data-cellid="top_c1"][data-page="public_recicladores1_add"] {
  background-color: #9ee6b2;
}
[data-page="public_recicladores1_add"][data-itemid="add_header"] {
  background-color: #9ee6b2;
  font-weight: bold;
}
[data-page="public_recicladores1_add"][data-itemid="logo1"] {
  font-weight: bold;
}
[data-page="public_recicladores1_add"][data-itemid="image"] {
  width: 270px;
  height: 170px;
}


