[data-cellid="grid_headcell_field"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_headcell_field"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_headcell_field"][data-page="public_tipos_usuarios1_list"] {
  background-color: #9ee6b2;
}
[data-cellid="grid_footcell_field"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_footcell_field"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_footcell_field"][data-page="public_tipos_usuarios1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field1"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_headcell_field1"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_headcell_field1"][data-page="public_tipos_usuarios1_list"] {
  background-color: #9ee6b2;
}
[data-cellid="grid_footcell_field1"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_footcell_field1"][data-page="public_tipos_usuarios1_list"][data-cellid="grid_footcell_field1"][data-page="public_tipos_usuarios1_list"] {
  white-space: nowrap;
}


