[data-cellid="top_c1"][data-page="public_empresas_recicladoras1_add"][data-cellid="top_c1"][data-page="public_empresas_recicladoras1_add"][data-cellid="top_c1"][data-page="public_empresas_recicladoras1_add"] {
  background-color: #9ee6b2;
}
[data-page="public_empresas_recicladoras1_add"][data-itemid="logo"] {
  font-weight: bold;
}
[data-page="public_empresas_recicladoras1_add"][data-itemid="image"] {
  width: 270px;
  height: 170px;
}


