[data-page="recicladoredes_list1"][data-itemid="simple_grid_field8"] {
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladoredes_list1"][data-itemid="simple_grid_field9"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladoredes_list1"][data-itemid="simple_grid_field11"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladoredes_list1"][data-itemid="simple_grid_field10"] {
  font-weight: bold;
  font-size: 18px;
}


