[data-cellid="grid_cell_label"][data-page="recicladores_list1"][data-cellid="grid_cell_label"][data-page="recicladores_list1"][data-cellid="grid_cell_label"][data-page="recicladores_list1"] {
  width: 210px;
  height: 180px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field7"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field2"] {
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field8"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field3"] {
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field9"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field4"] {
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field10"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field5"] {
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field11"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field6"] {
  font-size: 18px;
}
[data-page="recicladores_list1"][data-itemid="simple_grid_field"] {
  color: #5ef752;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}
[data-page="recicladores_list1"][data-itemid="grid_field1"] {
  font-size: 20px;
}


