[data-cellid="grid_cell_field8"][data-page="recicladores_list"][data-cellid="grid_cell_field8"][data-page="recicladores_list"][data-cellid="grid_cell_field8"][data-page="recicladores_list"] {
  white-space: normal;
}
[data-cellid="grid_cell_field18"][data-page="recicladores_list"][data-cellid="grid_cell_field18"][data-page="recicladores_list"][data-cellid="grid_cell_field18"][data-page="recicladores_list"] {
  white-space: normal;
}
[data-page="recicladores_list"][data-itemid="logo"] {
  font-weight: bold;
  font-size: 30px;
}
[data-page="recicladores_list"][data-itemid="grid_checkbox"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field"] {
  font-weight: bold;
  font-size: 24px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field2"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field3"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field4"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field5"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field6"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field8"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field9"] {
  color: #80f087;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field11"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field12"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field13"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field14"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field15"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="simple_grid_field17"] {
  font-weight: bold;
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="text"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="text1"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="text2"] {
  font-size: 18px;
}
[data-page="recicladores_list"][data-itemid="image"] {
  width: 270px;
  height: 170px;
}


