<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-register" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="register_header" data-itemid="register_header" {$item_register_header} data-pageid="{$pageid}" >{$pagetitlelabel  register}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="register_message" data-itemid="register_message" {$item_register_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN NombreUsuario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NombreUsuario}  r-vertical-field" 
	data-signal-error-for="NombreUsuario{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="NombreUsuario" data-fieldname="NombreUsuario" >

	<label class="r-edit-label control-label" for="{$labelfor_NombreUsuario}">
		{BEGIN NombreUsuario_label}{$label public_Usuarios NombreUsuario }{END NombreUsuario_label}
	</label>
	<div class="r-edit-field">
		{$NombreUsuario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="NombreUsuario">
		<div class="text-muted" >
		{$tooltip public_Usuarios NombreUsuario }		</div>
	</div>
</div>


{END NombreUsuario_fieldblock}
											
{BEGIN Password_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Password}  r-vertical-field" 
	data-signal-error-for="Password{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Password" data-fieldname="Password" >

	<label class="r-edit-label control-label" for="{$labelfor_Password}">
		{BEGIN Password_label}{$label public_Usuarios Password }{END Password_label}
	</label>
	<div class="r-edit-field">
		{$Password_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Password">
		<div class="text-muted" >
		{$tooltip public_Usuarios Password }		</div>
	</div>
</div>


{END Password_fieldblock}
											
{BEGIN confirm_block}


<div class="r-integrated-field form-group clearfix {$fielddispclass_confirm_aoel3cx}  r-vertical-field" 
	data-signal-error-for="confirm{$id}" 
	data-itemtype="integrated_confirm_password" data-itemid="integrated_confirm_password" {$item_integrated_confirm_password} data-pageid="{$pageid}" data-field="confirm_aoel3cx" data-fieldname="confirm_aoel3cx" >

	<label class="r-edit-label control-label" for="{$labelfor_confirm_aoel3cx_confirm}">
		{BEGIN confirm_label}Confirme su contraseña{END confirm_label}
	</label>
	<div class="r-edit-field">
		{$confirm_editcontrol1}	</div>
	<div class="r-edit-tooltip" data-helpfor="confirm">
		<div class="text-muted" >
		{$tooltip public_Usuarios confirm_aoel3cx }		</div>
	</div>
</div>


{END confirm_block}
											
{BEGIN Email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email}  r-vertical-field" 
	data-signal-error-for="Email{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Email" data-fieldname="Email" >

	<label class="r-edit-label control-label" for="{$labelfor_Email}">
		{BEGIN Email_label}{$label public_Usuarios Email }{END Email_label}
	</label>
	<div class="r-edit-field">
		{$Email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Email">
		<div class="text-muted" >
		{$tooltip public_Usuarios Email }		</div>
	</div>
</div>


{END Email_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		<span data-itemtype="register_save" data-itemid="register_save" {$item_register_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$submit_attrs} >
							Registrar			</a>
</span>
	 
		<span data-itemtype="back_to_login" data-itemid="back_to_login" {$item_back_to_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link   
	" href="login.php" {$backlink_attrs} >
							Regresar a la página de conexión			</a>
</span>
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="register_reset" data-itemid="register_reset" {$item_register_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
