<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf  current" originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item1_menulink_attrs}>
									Permisos
			</a>
	</div>
</div>
<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item2_menulink_attrs}>
									Asignar usuarios a grupos
			</a>
	</div>
</div>
<div id="item3" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item3_menulink_attrs}>
									Añadir/Editar usuarios
			</a>
	</div>
</div>
