<ul class="nav navbar-nav">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class="  {$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item1_icon} {$item1_title}</span>
		<span class="r-menu-collapsed">{$item1_collicon}{$item1_firstcap}</span>
</a>

	</li>
	{END item1_menulink}
	
	
	{BEGIN item2_menulink}
	<li class="  {$item2_current}">
		
<a {$item2_menulink_attrs} title="{$item2_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item2_icon} {$item2_title}</span>
		<span class="r-menu-collapsed">{$item2_collicon}{$item2_firstcap}</span>
</a>

	</li>
	{END item2_menulink}
	
	
	{BEGIN item3_menulink}
	<li class="  dropdown  {$item3_current}">
		
<a {$item3_menulink_attrs} title="{$item3_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item3_icon} {$item3_title}</span>
		<span class="r-menu-collapsed">{$item3_collicon}{$item3_firstcap}</span>
</a>

		
				<ul class="dropdown-menu">
		
			{BEGIN item4_menulink}
			<li class="  {$item4_current}">
				
<a {$item4_menulink_attrs} title="{$item4_tooltip}" >
	<span class="
		"> {$item4_icon} {$item4_title}</span>
	</a>

			</li>
			{END item4_menulink}
				
				
			{BEGIN item5_menulink}
			<li class="  {$item5_current}">
				
<a {$item5_menulink_attrs} title="{$item5_tooltip}" >
	<span class="
		"> {$item5_icon} {$item5_title}</span>
	</a>

			</li>
			{END item5_menulink}
				
				
			{BEGIN item6_menulink}
			<li class="  {$item6_current}">
				
<a {$item6_menulink_attrs} title="{$item6_tooltip}" >
	<span class="
		"> {$item6_icon} {$item6_title}</span>
	</a>

			</li>
			{END item6_menulink}
				</ul>
	</li>
	{END item3_menulink}
	
	
	{BEGIN item7_menulink}
	<li class="  dropdown  {$item7_current}">
		
<a {$item7_menulink_attrs} title="{$item7_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item7_icon} {$item7_title}</span>
		<span class="r-menu-collapsed">{$item7_collicon}{$item7_firstcap}</span>
</a>

		
				<ul class="dropdown-menu">
		
			{BEGIN item8_menulink}
			<li class="  {$item8_current}">
				
<a {$item8_menulink_attrs} title="{$item8_tooltip}" >
	<span class="
		"> {$item8_icon} {$item8_title}</span>
	</a>

			</li>
			{END item8_menulink}
				
				
			{BEGIN item9_menulink}
			<li class="  {$item9_current}">
				
<a {$item9_menulink_attrs} title="{$item9_tooltip}" >
	<span class="
		"> {$item9_icon} {$item9_title}</span>
	</a>

			</li>
			{END item9_menulink}
				</ul>
	</li>
	{END item7_menulink}
	
	
	{BEGIN item10_menulink}
	<li class="  dropdown  {$item10_current}">
		
<a {$item10_menulink_attrs} title="{$item10_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item10_icon} {$item10_title}</span>
		<span class="r-menu-collapsed">{$item10_collicon}{$item10_firstcap}</span>
</a>

		
				<ul class="dropdown-menu">
		
			{BEGIN item11_menulink}
			<li class="  {$item11_current}">
				
<a {$item11_menulink_attrs} title="{$item11_tooltip}" >
	<span class="
		"> {$item11_icon} {$item11_title}</span>
	</a>

			</li>
			{END item11_menulink}
				
				
			{BEGIN item12_menulink}
			<li class="  {$item12_current}">
				
<a {$item12_menulink_attrs} title="{$item12_tooltip}" >
	<span class="
		"> {$item12_icon} {$item12_title}</span>
	</a>

			</li>
			{END item12_menulink}
				
				
			{BEGIN item13_menulink}
			<li class="  {$item13_current}">
				
<a {$item13_menulink_attrs} title="{$item13_tooltip}" >
	<span class="
		"> {$item13_icon} {$item13_title}</span>
	</a>

			</li>
			{END item13_menulink}
				</ul>
	</li>
	{END item10_menulink}
</ul>