<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class=" r-ori-vert navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span data-cellId="supertop_c2" data-pageid="{$pageid}" class=" r-ori-vert navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
													</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel public_GestionRegistrosOrigen view}</h2>
		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN IdGesRegOrigen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IdGesRegOrigen}  r-vertical-field" data-fieldname="IdGesRegOrigen" data-signal-error-for="IdGesRegOrigen{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="IdGesRegOrigen" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_IdGesRegOrigen}">
		
		{BEGIN IdGesRegOrigen_label}{$label public_GestionRegistrosOrigen IdGesRegOrigen }{END IdGesRegOrigen_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$IdGesRegOrigen_value}	</div>

		
</div>


{END IdGesRegOrigen_fieldblock}
											
{BEGIN IdResiduo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IdResiduo}  r-vertical-field" data-fieldname="IdResiduo" data-signal-error-for="IdResiduo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="IdResiduo" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_IdResiduo}">
		
		{BEGIN IdResiduo_label}{$label public_GestionRegistrosOrigen IdResiduo }{END IdResiduo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$IdResiduo_value}	</div>

		
</div>


{END IdResiduo_fieldblock}
											
{BEGIN IdMedTipOrigen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IdMedTipOrigen}  r-vertical-field" data-fieldname="IdMedTipOrigen" data-signal-error-for="IdMedTipOrigen{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="IdMedTipOrigen" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_IdMedTipOrigen}">
		
		{BEGIN IdMedTipOrigen_label}{$label public_GestionRegistrosOrigen IdMedTipOrigen }{END IdMedTipOrigen_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$IdMedTipOrigen_value}	</div>

		
</div>


{END IdMedTipOrigen_fieldblock}
											
{BEGIN IdUsuario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IdUsuario}  r-vertical-field" data-fieldname="IdUsuario" data-signal-error-for="IdUsuario{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="IdUsuario" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_IdUsuario}">
		
		{BEGIN IdUsuario_label}{$label public_GestionRegistrosOrigen IdUsuario }{END IdUsuario_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$IdUsuario_value}	</div>

		
</div>


{END IdUsuario_fieldblock}
											
{BEGIN CantidadOrigen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CantidadOrigen}  r-vertical-field" data-fieldname="CantidadOrigen" data-signal-error-for="CantidadOrigen{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="CantidadOrigen" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CantidadOrigen}">
		
		{BEGIN CantidadOrigen_label}{$label public_GestionRegistrosOrigen CantidadOrigen }{END CantidadOrigen_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CantidadOrigen_value}	</div>

		
</div>


{END CantidadOrigen_fieldblock}
											
{BEGIN FotoOrigen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FotoOrigen}  r-vertical-field" data-fieldname="FotoOrigen" data-signal-error-for="FotoOrigen{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="FotoOrigen" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_FotoOrigen}">
		
		{BEGIN FotoOrigen_label}{$label public_GestionRegistrosOrigen FotoOrigen }{END FotoOrigen_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$FotoOrigen_value}	</div>

		
</div>


{END FotoOrigen_fieldblock}
											
{BEGIN GPSMapaGoo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_GPSMapaGoo}  r-vertical-field" data-fieldname="GPSMapaGoo" data-signal-error-for="GPSMapaGoo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="GPSMapaGoo" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_GPSMapaGoo}">
		
		{BEGIN GPSMapaGoo_label}{$label public_GestionRegistrosOrigen GPSMapaGoo }{END GPSMapaGoo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$GPSMapaGoo_value}	</div>

		
</div>


{END GPSMapaGoo_fieldblock}
											
{BEGIN Lat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lat}  r-vertical-field" data-fieldname="Lat" data-signal-error-for="Lat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Lat" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Lat}">
		
		{BEGIN Lat_label}{$label public_GestionRegistrosOrigen Lat }{END Lat_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Lat_value}	</div>

		
</div>


{END Lat_fieldblock}
											
{BEGIN Lng_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lng}  r-vertical-field" data-fieldname="Lng" data-signal-error-for="Lng{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Lng" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Lng}">
		
		{BEGIN Lng_label}{$label public_GestionRegistrosOrigen Lng }{END Lng_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Lng_value}	</div>

		
</div>


{END Lng_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="#" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
