<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-rprint" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel public_GestionRegistrosOrigen_Report rprint}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}
<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
</style>
<div id="grid_block{$id}" class="rnr-report-gridblock">
			<!-- 0 group fields -->

 <!-- add to settings ? -->
<table class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" >
	<thead>
		{BEGIN grid_header}
		<tr class="rnr-toprow table-header style1">
					<th class="{$fieldclass_id_ges_reg_origen}"> {$label public_GestionRegistrosOrigen_Report id_ges_reg_origen }</th>
					<th class="{$fieldclass_nombre_usuario}"> {$label public_GestionRegistrosOrigen_Report nombre_usuario }</th>
					<th class="{$fieldclass_nombre_completo}"> {$label public_GestionRegistrosOrigen_Report nombre_completo }</th>
					<th class="{$fieldclass_direc_usuario}"> {$label public_GestionRegistrosOrigen_Report direc_usuario }</th>
					<th class="{$fieldclass_descri_barrio}"> {$label public_GestionRegistrosOrigen_Report descri_barrio }</th>
					<th class="{$fieldclass_cantidad_origen}"> {$label public_GestionRegistrosOrigen_Report cantidad_origen }</th>
					<th class="{$fieldclass_descri_med_tip_origen}"> {$label public_GestionRegistrosOrigen_Report descri_med_tip_origen }</th>
					<th class="{$fieldclass_descri_residuo}"> {$label public_GestionRegistrosOrigen_Report descri_residuo }</th>
					<th class="{$fieldclass_id_usuario}"> {$label public_GestionRegistrosOrigen_Report id_usuario }</th>
					<th class="{$fieldclass_gps_mapa_goo}"> {$label public_GestionRegistrosOrigen_Report gps_mapa_goo }</th>
					<th class="{$fieldclass_foto_origen}"> {$label public_GestionRegistrosOrigen_Report foto_origen }</th>
				</tr>
		{END grid_header}
	</thead>
	<tbody>
{BEGIN grid_row}
	{BEGIN row_data}
		<tr class="rnr-row style1" {$rowattrs}>
			
			<td {$recordattrs} class="{$fieldclass_id_ges_reg_origen}">
						<span data-itemtype="grid_field" data-field="id_ges_reg_origen" data-itemid="grid_field2" data-pageid={$pageid} data-record-id="{$recId}">
{$id_ges_reg_origen_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_nombre_usuario}">
						<span data-itemtype="grid_field" data-field="nombre_usuario" data-itemid="grid_field3" data-pageid={$pageid} data-record-id="{$recId}">
{$nombre_usuario_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_nombre_completo}">
						<span data-itemtype="grid_field" data-field="nombre_completo" data-itemid="grid_field4" data-pageid={$pageid} data-record-id="{$recId}">
{$nombre_completo_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_direc_usuario}">
						<span data-itemtype="grid_field" data-field="direc_usuario" data-itemid="grid_field5" data-pageid={$pageid} data-record-id="{$recId}">
{$direc_usuario_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_descri_barrio}">
						<span data-itemtype="grid_field" data-field="descri_barrio" data-itemid="grid_field6" data-pageid={$pageid} data-record-id="{$recId}">
{$descri_barrio_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_cantidad_origen}">
						<span data-itemtype="grid_field" data-field="cantidad_origen" data-itemid="grid_field7" data-pageid={$pageid} data-record-id="{$recId}">
{$cantidad_origen_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_descri_med_tip_origen}">
						<span data-itemtype="grid_field" data-field="descri_med_tip_origen" data-itemid="grid_field8" data-pageid={$pageid} data-record-id="{$recId}">
{$descri_med_tip_origen_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_descri_residuo}">
						<span data-itemtype="grid_field" data-field="descri_residuo" data-itemid="grid_field9" data-pageid={$pageid} data-record-id="{$recId}">
{$descri_residuo_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_id_usuario}">
						<span data-itemtype="grid_field" data-field="id_usuario" data-itemid="grid_field10" data-pageid={$pageid} data-record-id="{$recId}">
{$id_usuario_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_gps_mapa_goo}">
						<span data-itemtype="grid_field" data-field="gps_mapa_goo" data-itemid="grid_field11" data-pageid={$pageid} data-record-id="{$recId}">
{$gps_mapa_goo_value}
</span>			</td>
			
			<td {$recordattrs} class="{$fieldclass_foto_origen}">
						<span data-itemtype="grid_field" data-field="foto_origen" data-itemid="grid_field12" data-pageid={$pageid} data-record-id="{$recId}">
{$foto_origen_value}
</span>			</td>
				</tr>
	{END row_data}
{END grid_row}

	

	


    
    


	</tbody>
</table>	</div>
{END grid_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
