
{BEGIN item1_menulink}
<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf {$item1_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/account_balances.png" border=0>
<a {$item1_menulink_attrs}>{$item1_title}</a></div>



</div>
{END item1_menulink}

{BEGIN item2_menulink}
<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf {$item2_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/user.png" border=0>
<a {$item2_menulink_attrs}>{$item2_title}</a></div>



</div>
{END item2_menulink}

{BEGIN item3_menulink}
<div id="item3" class="rnr-b-hmenu {$menustyle} Group {$item3_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/application_cascade.png" border=0>
<a {$item3_menulink_attrs}>{$item3_title}</a></div>



		<ul>
		
		{BEGIN item4_menulink}
		<li parent="group3" class="Leaf {$item4_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_form.png" border=0>
<a {$item4_menulink_attrs}>{$item4_title}</a>
</div>
</div>



		</li>
		{END item4_menulink}
				
		{BEGIN item5_menulink}
		<li parent="group3" class="Leaf {$item5_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_form.png" border=0>
<a {$item5_menulink_attrs}>{$item5_title}</a>
</div>
</div>



		</li>
		{END item5_menulink}
				
		{BEGIN item6_menulink}
		<li parent="group3" class="Leaf {$item6_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_form.png" border=0>
<a {$item6_menulink_attrs}>{$item6_title}</a>
</div>
</div>



		</li>
		{END item6_menulink}
		</ul>
</div>
{END item3_menulink}

{BEGIN item7_menulink}
<div id="item7" class="rnr-b-hmenu {$menustyle} Group {$item7_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/application_cascade.png" border=0>
<a {$item7_menulink_attrs}>{$item7_title}</a></div>



		<ul>
		
		{BEGIN item8_menulink}
		<li parent="group7" class="Leaf {$item8_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_form.png" border=0>
<a {$item8_menulink_attrs}>{$item8_title}</a>
</div>
</div>



		</li>
		{END item8_menulink}
				
		{BEGIN item9_menulink}
		<li parent="group7" class="Leaf {$item9_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_view_detail.png" border=0>
<a {$item9_menulink_attrs}>{$item9_title}</a>
</div>
</div>



		</li>
		{END item9_menulink}
		</ul>
</div>
{END item7_menulink}

{BEGIN item10_menulink}
<div id="item10" class="rnr-b-hmenu {$menustyle} Group {$item10_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/application_cascade.png" border=0>
<a {$item10_menulink_attrs}>{$item10_title}</a></div>



		<ul>
		
		{BEGIN item11_menulink}
		<li parent="group10" class="Leaf {$item11_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_add.png" border=0>
<a {$item11_menulink_attrs}>{$item11_title}</a>
</div>
</div>



		</li>
		{END item11_menulink}
				
		{BEGIN item12_menulink}
		<li parent="group10" class="Leaf {$item12_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_add.png" border=0>
<a {$item12_menulink_attrs}>{$item12_title}</a>
</div>
</div>



		</li>
		{END item12_menulink}
				
		{BEGIN item13_menulink}
		<li parent="group10" class="Leaf {$item13_current} menuLeaf">
			<div>
<div>
<img class="menu-icon" src="images/menuicons/application_add.png" border=0>
<a {$item13_menulink_attrs}>{$item13_title}</a>
</div>
</div>



		</li>
		{END item13_menulink}
		</ul>
</div>
{END item10_menulink}
