{BEGIN mainmenu_block}
<table class="runner-hmenu" cellpadding="0">
	<tr>
	{BEGIN simpleTypeMenu}
		
		{BEGIN item1_menulink}
		<td id="item1" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item1_menulink}
			
		{BEGIN item2_menulink}
		<td id="item2" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item2_menulink}
			
		{BEGIN item3_menulink}
		<td id="item3" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group3">
			
				{BEGIN item4_menulink}
				<li id="item4" parent="group3" class="Leaf{BEGIN item4_current} current{END item4_current}">
					&nbsp;<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>&nbsp;


				</li>
				{END item4_menulink}
									
				{BEGIN item5_menulink}
				<li id="item5" parent="group3" class="Leaf{BEGIN item5_current} current{END item5_current}">
					&nbsp;<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>&nbsp;


				</li>
				{END item5_menulink}
									
				{BEGIN item6_menulink}
				<li id="item6" parent="group3" class="Leaf{BEGIN item6_current} current{END item6_current}">
					&nbsp;<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>&nbsp;


				</li>
				{END item6_menulink}
						</ul>
		</td>
		{END item3_menulink}
			
		{BEGIN item7_menulink}
		<td id="item7" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item7_current} current{END item7_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group7">
			
				{BEGIN item8_menulink}
				<li id="item8" parent="group7" class="Leaf{BEGIN item8_current} current{END item8_current}">
					&nbsp;<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>&nbsp;


				</li>
				{END item8_menulink}
									
				{BEGIN item9_menulink}
				<li id="item9" parent="group7" class="Leaf{BEGIN item9_current} current{END item9_current}">
					&nbsp;<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>&nbsp;


				</li>
				{END item9_menulink}
						</ul>
		</td>
		{END item7_menulink}
			
		{BEGIN item10_menulink}
		<td id="item10" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item10_current} current{END item10_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group10">
			
				{BEGIN item11_menulink}
				<li id="item11" parent="group10" class="Leaf{BEGIN item11_current} current{END item11_current}">
					&nbsp;<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>&nbsp;


				</li>
				{END item11_menulink}
									
				{BEGIN item12_menulink}
				<li id="item12" parent="group10" class="Leaf{BEGIN item12_current} current{END item12_current}">
					&nbsp;<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>&nbsp;


				</li>
				{END item12_menulink}
									
				{BEGIN item13_menulink}
				<li id="item13" parent="group10" class="Leaf{BEGIN item13_current} current{END item13_current}">
					&nbsp;<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>&nbsp;


				</li>
				{END item13_menulink}
						</ul>
		</td>
		{END item10_menulink}
				{END simpleTypeMenu}

	{BEGIN adminAreaTypeMenu}
	

	{END adminAreaTypeMenu}
	</tr>
</table>
{END mainmenu_block}