<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right r-ori-vert navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_Recicladores search}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN IdReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdReciclador" 
	
	data-signal-error-for="IdReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="IdReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_IdReciclador}">
		{$label public_Recicladores IdReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_IdReciclador}
	</div>
	<div class="r-search-field">
		{$IdReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$IdReciclador_editcontrol1}
	</div>
	
</div>

{END IdReciclador_fieldblock}
											
{BEGIN FotoReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FotoReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="FotoReciclador" 
	
	data-signal-error-for="FotoReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="FotoReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_FotoReciclador}">
		{$label public_Recicladores FotoReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_FotoReciclador}
	</div>
	<div class="r-search-field">
		{$FotoReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$FotoReciclador_editcontrol1}
	</div>
	
</div>

{END FotoReciclador_fieldblock}
											
{BEGIN CIReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CIReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="CIReciclador" 
	
	data-signal-error-for="CIReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="CIReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_CIReciclador}">
		{$label public_Recicladores CIReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_CIReciclador}
	</div>
	<div class="r-search-field">
		{$CIReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$CIReciclador_editcontrol1}
	</div>
	
</div>

{END CIReciclador_fieldblock}
											
{BEGIN NomReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NomReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NomReciclador" 
	
	data-signal-error-for="NomReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="NomReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_NomReciclador}">
		{$label public_Recicladores NomReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_NomReciclador}
	</div>
	<div class="r-search-field">
		{$NomReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$NomReciclador_editcontrol1}
	</div>
	
</div>

{END NomReciclador_fieldblock}
											
{BEGIN ApeReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ApeReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ApeReciclador" 
	
	data-signal-error-for="ApeReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="ApeReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_ApeReciclador}">
		{$label public_Recicladores ApeReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_ApeReciclador}
	</div>
	<div class="r-search-field">
		{$ApeReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$ApeReciclador_editcontrol1}
	</div>
	
</div>

{END ApeReciclador_fieldblock}
											
{BEGIN DirReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DirReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="DirReciclador" 
	
	data-signal-error-for="DirReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="DirReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_DirReciclador}">
		{$label public_Recicladores DirReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_DirReciclador}
	</div>
	<div class="r-search-field">
		{$DirReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$DirReciclador_editcontrol1}
	</div>
	
</div>

{END DirReciclador_fieldblock}
											
{BEGIN TelReciclador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TelReciclador}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TelReciclador" 
	
	data-signal-error-for="TelReciclador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="TelReciclador" >


	<label class="r-search-label control-label" for="{$labelfor_TelReciclador}">
		{$label public_Recicladores TelReciclador }	</label>
	<div class="r-search-option">
		{$searchtype_TelReciclador}
	</div>
	<div class="r-search-field">
		{$TelReciclador_editcontrol}	</div>
	<div class="r-search-field">
		{$TelReciclador_editcontrol1}
	</div>
	
</div>

{END TelReciclador_fieldblock}
											
{BEGIN LogoASO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LogoASO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="LogoASO" 
	
	data-signal-error-for="LogoASO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="LogoASO" >


	<label class="r-search-label control-label" for="{$labelfor_LogoASO}">
		{$label public_Recicladores LogoASO }	</label>
	<div class="r-search-option">
		{$searchtype_LogoASO}
	</div>
	<div class="r-search-field">
		{$LogoASO_editcontrol}	</div>
	<div class="r-search-field">
		{$LogoASO_editcontrol1}
	</div>
	
</div>

{END LogoASO_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
