<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px"  class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div class="clearfix  r-ori-vert" data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="image" {$item_image} data-topcell-item-type="image" >
				<img src="{$file_url images/mapa-zoom-asuncion.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" data-page="recicladores_list" />
			</div>
		
 

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" data-page="recicladores_list" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_apellido_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_apellido_reciclador}" {$filterRow_attrs_apellido_reciclador}>
			<label>{$label public_recicladores apellido_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_apellido_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_apellido_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_apellido_reciclador}</span>
						</div>
		{END searchCtrlBlock_apellido_reciclador}
																{BEGIN searchCtrlBlock_tel_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_tel_reciclador}" {$filterRow_attrs_tel_reciclador}>
			<label>{$label public_recicladores tel_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_tel_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_tel_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_tel_reciclador}</span>
						</div>
		{END searchCtrlBlock_tel_reciclador}
																{BEGIN searchCtrlBlock_nombre_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_nombre_reciclador}" {$filterRow_attrs_nombre_reciclador}>
			<label>{$label public_recicladores nombre_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_nombre_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_nombre_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_nombre_reciclador}</span>
						</div>
		{END searchCtrlBlock_nombre_reciclador}
																{BEGIN searchCtrlBlock_logo_aso}


		<div class="form-group srchPanelRow {$filterRow_class_logo_aso}" {$filterRow_attrs_logo_aso}>
			<label>{$label public_recicladores logo_aso }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_logo_aso}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_logo_aso}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_logo_aso}</span>
						</div>
		{END searchCtrlBlock_logo_aso}
																{BEGIN searchCtrlBlock_id_residuo}


		<div class="form-group srchPanelRow {$filterRow_class_id_residuo}" {$filterRow_attrs_id_residuo}>
			<label>{$label public_recicladores id_residuo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_residuo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_residuo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_residuo}</span>
						</div>
		{END searchCtrlBlock_id_residuo}
																{BEGIN searchCtrlBlock_id_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_id_reciclador}" {$filterRow_attrs_id_reciclador}>
			<label>{$label public_recicladores id_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id_reciclador}</span>
						</div>
		{END searchCtrlBlock_id_reciclador}
																{BEGIN searchCtrlBlock_foto_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_foto_reciclador}" {$filterRow_attrs_foto_reciclador}>
			<label>{$label public_recicladores foto_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_foto_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_foto_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_foto_reciclador}</span>
						</div>
		{END searchCtrlBlock_foto_reciclador}
																{BEGIN searchCtrlBlock_direc_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_direc_reciclador}" {$filterRow_attrs_direc_reciclador}>
			<label>{$label public_recicladores direc_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_direc_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_direc_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_direc_reciclador}</span>
						</div>
		{END searchCtrlBlock_direc_reciclador}
																{BEGIN searchCtrlBlock_ci_reciclador}


		<div class="form-group srchPanelRow {$filterRow_class_ci_reciclador}" {$filterRow_attrs_ci_reciclador}>
			<label>{$label public_recicladores ci_reciclador }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ci_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ci_reciclador}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ci_reciclador}</span>
						</div>
		{END searchCtrlBlock_ci_reciclador}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		Exportar seleccionados		
		</a>
	</li>
{END exportselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Borrar articulos seleccionados		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="recicladores_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="recicladores_import.php{$stateLink_full}"  title="" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default  btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END logoutbutton}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-success  btn-lg 
	" {$addlink_attrs} href="recicladores_add.php?page=add{$stateLink}" data-page="add" >
					<span class="glyphicon glyphicon-plus"></span>
							Añadir nuevo reciclador			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default  btn-lg 
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
					<span class="glyphicon glyphicon-trash"></span>
							Borrar reciclador seleccionados			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="recicladores_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="recicladores_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio" >
			Imprimir la selección			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									{BEGIN print_details}
<div>
	<label for="printDetailsToggler{$id}">
		<input type="checkbox" id="printDetailsToggler{$id}">
		Detalles de impresión	</label>
	<div  id="printdetailstables{$id}" style="display:none;">
											{BEGIN print_details_gestion_pesos_residuos}
			<div>
				<label for="printDetailsgestion_pesos_residuos{$id}">
					<input type="checkbox" value="gestion_pesos_residuos" id="printDetailsgestion_pesos_residuos{$id}" checked>
					Gestion Pesos Residuos				</label>
			</div>
			{END print_details_gestion_pesos_residuos}
						</div>
</div>
{END print_details}
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}{BEGIN grid_block}
<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle} data-record-id="{$recId}">
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="4" class="header-table">
				 
										<tr>
						 
							<td 
	class="				{$id_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN id_reciclador_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="id_reciclador" data-fieldname="id_reciclador">
	{$label public_recicladores id_reciclador }	</span>
{END id_reciclador_fieldheadercolumn}

 
{BEGIN id_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="id_reciclador" data-fieldname="id_reciclador" data-default-width >
{$id_reciclador_value}
</span>
{END id_reciclador_fieldcolumn} 
{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
 
 

	{BEGIN dtables_link}
				<span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}">
		<a 
			{$gestion_pesos_residuos_link_attrs} 
			class="{$dtables_link_class} details-badge badge gestion_pesos_residuos_badge" 
			title="Mostrar detalles"
						
		>
							<span class="glyphicon glyphicon-th-list"></span>
									<span class="{$gestion_pesos_residuos_cntspan_class}" {$gestion_pesos_residuos_childnumber_attr}>
				{$gestion_pesos_residuos_childnumber}				
			</span>
		</a>
		</span>
	{END dtables_link}

</td>
						 
							<td 
	class="			"
	colspan="2"		 
	data-cellId="grid_cell_top1" data-pageid="{$pageid}" data-record-id="{$recId}">
 
<span data-itemtype="text" data-itemid="text2" {$item_text2} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-small > 
	Seleccionar Registro</span>
 
{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
 
<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-small > 
	Ver Registro</span>
 
{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Ver registro" class="btn btn-success  btn-lg 
	" href="recicladores_view.php?page=view&{$editlink}" {$viewlink_attrs} title="Ver" data-page="view" >
					<span class="glyphicon glyphicon-search"></span>
										</a>
</span>
{END view_link}
{END view_column}
 
<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-small > 
	Editar Registro</span>
 
{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn btn-success  btn-lg 
	" href="recicladores_edit.php?page=edit&{$editlink}" {$editlink_attrs} title="Editar" data-page="edit" >
					<span class="glyphicon glyphicon-pencil"></span>
										</a>
</span>
{END edit_link}
{END edit_column}
</td>
						 
							<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_cell_top3" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="4" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$foto_reciclador_class}
			"
		rowspan="5"	 
		data-field=""
	 
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN foto_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_reciclador" data-fieldname="foto_reciclador" data-default-width >
{$foto_reciclador_value}
</span>
{END foto_reciclador_fieldcolumn}</td>
						 
							<td 
	class="r-align-left r-ori-vert				{$ci_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="recicladores_list">
 
{BEGIN ci_reciclador_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="ci_reciclador" data-fieldname="ci_reciclador">
	{$label public_recicladores ci_reciclador }	</span>
{END ci_reciclador_fieldheadercolumn}

</td>
						 
							<td 
	class="r-align-left r-ori-vert				{$ci_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="recicladores_list">
 
{BEGIN ci_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="ci_reciclador" data-fieldname="ci_reciclador" data-default-width >
{$ci_reciclador_value}
</span>
{END ci_reciclador_fieldcolumn}</td>
						 
							<td 
	class=" r-ori-vert				{$logo_aso_class}
			"
		rowspan="5"	 
		data-field=""
	 
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN logo_aso_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="logo_aso" data-fieldname="logo_aso" data-default-width >
{$logo_aso_value}
</span>
{END logo_aso_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$nombre_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN nombre_reciclador_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="nombre_reciclador" data-fieldname="nombre_reciclador">
	{$label public_recicladores nombre_reciclador }	</span>
{END nombre_reciclador_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$nombre_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN nombre_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="nombre_reciclador" data-fieldname="nombre_reciclador" data-default-width >
{$nombre_reciclador_value}
</span>
{END nombre_reciclador_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$apellido_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN apellido_reciclador_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="apellido_reciclador" data-fieldname="apellido_reciclador">
	{$label public_recicladores apellido_reciclador }	</span>
{END apellido_reciclador_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$apellido_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN apellido_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="apellido_reciclador" data-fieldname="apellido_reciclador" data-default-width >
{$apellido_reciclador_value}
</span>
{END apellido_reciclador_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$direc_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN direc_reciclador_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="direc_reciclador" data-fieldname="direc_reciclador">
	{$label public_recicladores direc_reciclador }	</span>
{END direc_reciclador_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$direc_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN direc_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="direc_reciclador" data-fieldname="direc_reciclador" data-default-width >
{$direc_reciclador_value}
</span>
{END direc_reciclador_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$tel_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN tel_reciclador_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="tel_reciclador" data-fieldname="tel_reciclador">
	{$label public_recicladores tel_reciclador }	</span>
{END tel_reciclador_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$tel_reciclador_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN tel_reciclador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="tel_reciclador" data-fieldname="tel_reciclador" data-default-width >
{$tel_reciclador_value}
</span>
{END tel_reciclador_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$id_residuo_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN id_residuo_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="id_residuo" data-fieldname="id_residuo">
	{$label public_recicladores id_residuo }	</span>
{END id_residuo_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$id_residuo_class}
			"
	colspan="3"		 
		data-field=""
	 
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN id_residuo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-page="recicladores_list" data-record-id="{$recId}" data-field="id_residuo" data-fieldname="id_residuo" data-default-width >
{$id_residuo_value}
</span>
{END id_residuo_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
		 
	<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders="gestion_pesos_residuos"
			data-details-gestion_pesos_residuos	>
		<span data-details-inside data-short-table="gestion_pesos_residuos">
			</span>
		<div data-details-preview>
	</div>
</div>
	{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
